@font-face {
  src: url("PixelifySans-VariableFont_wght.ttf");
  font-family: "Pixelify";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Pixelify";
  background-color: rgb(30, 113, 180);
  color: white;
}

.header {
  text-align: center;
  padding-top: 20px;
  font-size: 1.3rem;
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 10px 0;
  width: 100%;
  height: auto;
}

.game-info {
  width: 50%;
}

.score-board {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.round-info {
  margin-top: 30px;
  padding: 5px 0;
  font-size: 1.5rem;
  height: 40px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  text-align: center;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

.game-container {
  display: flex;
  width: 100%;
  margin-top: 30px;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  transition: filter 0.3s ease, pointer-events 0.3s ease;
}

.human-board {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px 30px 30px;
}

.human-board h1 {
  text-align: center;
  padding-top: 30px;
}

.pc-board {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px 30px 30px;
}

.selection {
  width: 100%;
  display: flex;
  gap: 20px;
}

.icon-container {
  height: 250px;
  width: 250px;
  padding: 30px;
  border: 1px solid white;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.icon-container:hover {
  cursor: pointer;
  background-color: rgb(20, 84, 158);
}
.icon-container img {
  height: 100%;
  transition: transform 0.3s ease;
}

.icon-container img:hover {
  transform: scale(1.02);
}

.pc-icon-container {
  height: 250px;
  width: 250px;
  padding: 30px;
  border: 1px solid white;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.pc-icon-container img {
  height: 100%;
}

.choice p {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.pc-board h1 {
  text-align: center;
  padding-top: 30px;
}

.try-again {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.try-again-button {
  display: none;
  width: 250px;
  height: 50px;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 15px;
  background: transparent;
  color: white;
  font-family: "Pixelify";
}

.try-again-button:hover {
  cursor: pointer;
  background-color: rgb(20, 84, 158);
}

.popup-window {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  width: 600px;
  background: rgb(119, 123, 128);
  border: 2px solid white;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  z-index: 1000;
}

.popup-window h2 {
  font-size: 3rem;
}

.popup-window button {
  height: 50px;
  width: 150px;
  border: 3px solid white;
  border-radius: 15px;
  font-weight: 600;
  background: transparent;
}

.popup-window button:hover {
  background: rgb(184, 184, 184);
  cursor: pointer;
}
